* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  background-color: #ffe4e1;
}

/* Navbar styling */


/* Homepage styling */

.searchBar {
  padding: 1%;
  margin: 1% 0;
  width: 20%;
  background-color: #f8f1f3;
  border: 1px solid #999;
}

.searchContainer {
  display: flex;
  margin: 0 2%;
  padding: 3px;
  background-color: #f8f1f3;
  justify-content: flex-end;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: fit-content;
}

/* The button in the top left of every page styling */
.home_button {
  padding: 2%;
  margin: 2%;
  background-color: #ffe4e1;
  border: none;
  position: absolute;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: large;
}

.home_button:hover {
  cursor: pointer;
  background-color: #ecd2cf;
}

/* Login and registration pages */

/* Profile page */

.profileInput {
  padding: 2%;
  margin: 1% 0;
  width: 90%;
  background-color: #f8f1f3;
  border: 1px solid grey;
}

.profileInput::placeholder {
  color: black;
}
