main {
  margin-top: 50px;
  background: #ffe4e1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* The button in the top left of every page styling */
.home_button {
  padding: 2%;
  margin: 2%;
  background-color: #ffe4e1;
  border: none;
  position: absolute;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: large;
}

.home_button:hover {
  cursor: pointer;
  background-color: #ecd2cf;
}

/* Login and registration pages */

/* Profile page */

.profileInput {
  padding: 2%;
  margin: 1% 0;
  width: 90%;
  background-color: #f8f1f3;
  border: 1px solid grey;
}

.profileInput::placeholder {
  color: black;
}
