.loginFormContainer {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

.registerFormContainer {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f8f1f3;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.loginInputWrapper {
  display: flex;
  flex-direction: column;
  padding: 3%;
  align-items: flex-start;
  font-size: larger;
  width: 500px;
}

.loginInput {
  padding: 2%;
  margin: 1% 0;
  width: 90%;
  background-color: #f8f1f3;
  border: 1px solid grey;
}

.login_newUser_buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  align-self: center;
}
