.navbar {
  background-color: #f8f1f3;
  margin: 2% 2% 0;
  padding: 0.5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px 10px 0 0;
  align-items: center;
  height: 180px;
}

.home_nav_left {
  display: grid;
  grid-template-rows: 100px;
  height: 100%;
}
.nav_left_title {
  display: flex;
  justify-self: center;
  align-self: center;
}
.social_icons_wrapper {
  display: flex;
  align-items: flex-end;
}
.social_icons {
  display: flex;
  padding: 5px;
  width: 50px;
}
.logo_icon_wrapper {
  display: flex;
  align-items: flex-start;
}
.logo_icon {
  display: flex;
  padding: 5px;
  width: 50px;
}

.nav_title {
  display: flex;
  justify-self: center;
  align-items: flex-end;
  font-size: 1.75em;
  height: 80%;
}

.picture_home {
  max-width: 50%;
  justify-self: center;
  border-radius: 10px;
}

.title_home {
  align-self: flex-end;
}
